input_folder = "input" # media goes in here
srt_folder = "subs" # subtitles come out here
upload_folder = "subs" # folder of subtitles to bulk upload
model = "medium.en" # https://github.com/openai/whisper/#available-models-and-languages 
cuda_device = "cuda"
c3voc_mode = True # c3voc mode - names the srt files in accordance with media.ccc.de requirements. source files must be from media.ccc.de cdn / in format event-number-lang-title-etc.ext
c3voc_publishing_api_key = "hunter2" # api key for publishing.c3voc.de